<div class="dialog-header">
    <span class="font-bold">{{config?.title}}</span>
    <mat-divider role="separator"
                 class="mat-divider mt-6 mb-8 mat-divider-horizontal"
                 aria-orientation="horizontal"></mat-divider>
</div>

<mat-dialog-content class="mat-typography">
    <ng-container *ngIf="config?.mode === 'create'">
        <form [formGroup]="userForm">
            <mat-form-field class="w-full">
                <mat-label>Full name:</mat-label>
                <input matInput
                       type="text"
                       [formControlName]="'fullName'">
            </mat-form-field>
            <mat-form-field class="w-full">
                <mat-label>Email:</mat-label>
                <input matInput
                       [formControlName]="'email'">
            </mat-form-field>
            <mat-form-field class="w-full">
                <mat-label>Phone Number:</mat-label>
                <input matInput
                       type="tel"
                       [formControlName]="'phoneNumber'">
            </mat-form-field>
            <mat-form-field class="w-full">
                <mat-label>Password:</mat-label>
                <input matInput
                       type="password"
                       [formControlName]="'password'">
            </mat-form-field>
            <mat-form-field class="w-full">
                <mat-label>Confirm password:</mat-label>
                <input matInput
                       type="password"
                       [formControlName]="'passwordConfirmation'">
            </mat-form-field>
            <mat-form-field appearance="fill"
                            class="w-full">
                <mat-label>Role</mat-label>
                <mat-select multiple
                            [(value)]="selectedRoles">
                    <mat-option *ngFor="let role of roles"
                                [value]="role">
                        {{role.title}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </form>
    </ng-container>

    <ng-container *ngIf="config?.mode === 'filter'">
        <form [formGroup]="filterForm">
            <mat-form-field appearance="fill"
                            class="w-full">
                <mat-label>Plan:</mat-label>
                <mat-select>
                    <mat-option *ngFor="let plan of plans"
                                [value]="food.title">
                        {{food.title}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="fill"
                            class="w-full">
                <mat-label>Start Date:</mat-label>
                <input matInput
                       (click)="picker.open()"
                       readonly
                       [matDatepicker]="picker">
                <mat-datepicker-toggle matIconSuffix
                                       [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <mat-form-field appearance="fill"
                            class="w-full">
                <mat-label>End Date:</mat-label>
                <input matInput
                       readonly
                       (click)="picker2.open()"
                       [matDatepicker]="picker2">
                <mat-datepicker-toggle matIconSuffix
                                       [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker #picker2></mat-datepicker>
            </mat-form-field>

        </form>
    </ng-container>

</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-raised-button
            mat-dialog-close>Cancel</button>
    <button mat-raised-button
            (click)="onDialogSave()"
            color="primary">{{config?.btnText}}</button>
</mat-dialog-actions>